# 全てのファイルを一度、無視
/*

# さらに、ドットから始まる設定ファイルを無視
/.*

# "無視したくないファイル"は以下に"![ファイル名]"で指定
##### Gitで管理するファイルリスト #####
!/bin

!/.gitignore
!/.gitconfig
!/.gitmodules

!/.zshrc
!/.fzf.zsh

!/.tmux.conf

!/.config

!/.Brewfile

# 上記に"無視したくないファイル"としてリスト化した中から、さらに"無視したいファイル"を指定
/.config/anyenv
/.config/Autodesk
/.config/configstore
/.config/efm-langserver
/.config/flutter
/.config/gatsby
/.config/github-copilot
/.config/Unreal Engine
/.config/NuGet
/.config/stetic
/.config/tool_state
/.config/xbuild
/.config/yarn
/.config/analog.com
/.config/gcloud
/.config/gtk-3.0
/.config/karabiner
/.config/Unreal Engine
/.config/crossnote
/.config/dlv
/.config/gh
/.config/gh-dash
/.config/git
/.config/.dart-cli-completion
.DS_Store
